.datetime_mw,
.field_collection {
  display: inline-block;
}
.datetime_mw{
  clear: left;
}
.datetime_mw, .format_date_mw{
  float: left;
}

.format_date_mw,
.target_bundle {
  display: inline-block;
  margin-left: 15px;
}
.form-type--select{
  clear: left;
}
